.login-main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 60vh;
  width: 25vw;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8.5px);
  border-radius: 10px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
}

.login-welcome-text {
  margin: 6rem 0 5rem 0;
  color: black;
  font-size: 1vw;
}

.login-input-container {
  display: flex;
  flex-direction: column;
  width: 20vw;
}

.login-button-container {
  margin: 5rem 0 2rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
